---
import { SITE_TITLE, SITE_DESCRIPTION, SITE_OG_NAME, SITE_URL, SITE_OG_IMG, SITE_OG_TYPE, PUBLIC_DIR_IMG } from '../site.config';
import '../styles/style.styl'

const {
  title = SITE_TITLE[0],
  description = SITE_DESCRIPTION[0],
  ogTitle = SITE_TITLE[1] ?? SITE_TITLE[0],
  ogDescription = SITE_DESCRIPTION[1] ?? SITE_DESCRIPTION[0],
  ogSiteName = SITE_OG_NAME,
  ogUrl = SITE_URL,
  ogImg = SITE_OG_IMG,
  ogType = SITE_OG_TYPE,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:site_name" content={ogSiteName} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:image" content={ogImg} />
    <meta property="og:type" content={ogType} />
    <link rel="icon" type="image/svg+xml" href={`${PUBLIC_DIR_IMG}favicon/favicon.svg`} />
    <script src=../scripts/vendors.js></script>
    <script src=../scripts/main.js></script>
  </head>
  <body>
    <slot />
  </body>
</html>
